<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Project List</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

</head>
<body>

<div class="container">
    <h2>Java Project List</h2>

    <table th:if="${!#lists.isEmpty(javaProjects)}" class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr data-th-each="info : ${javaProjects}" scope="row">
                <td><a href="" th:href="@{'/java-project/' + ${info.id}}" th:text="${info.name}"></a></td>
                <td><span th:text="${info.status}" th:id="'javaProject-' + ${info.id}"></span></td>
            </tr>
        </tbody>
    </table>

    <a href="" th:href="@{/new-java-project}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Add Java Project</a>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/

    var stompClient = null;

    // connect to the logWebsocket
    function connect() {
        var socket = new SockJS('/project-status-websocket');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            console.log('Connected: ', frame);
            stompClient.subscribe('/topic/status-change', function (statusChange) {
                console.log('subscribe', statusChange);

                var str = statusChange.body;
                var words = str.split('=');

                $('#' + words[0]).html(words[1])
                console.log($('#' + words[0]).html());
            });
        });
    }

    // disconnect to the logWebsocket
    function disconnect() {
        if (stompClient !== null) {
            stompClient.disconnect();
        }
        console.log('websocket disconnect');
    }

    $(function () {
        connect();

        $(window).on('beforeunload', function () {
            disconnect();
        });
    });

    /*]]>*/
</script>

</body>
</html>