<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Project List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<div>
    <h2>Java Project List</h2>

    <table th:if="${!#lists.isEmpty(javaProjects)}">
        <tr>
            <th>Name</th>
        </tr>
        <tr data-th-each="info : ${javaProjects}">
            <td><a href="" th:href="@{/project-detail(projectId=${info.id})}" th:text="${info.name}"></a></td>
        </tr>
    </table>

    <button><a href="" th:href="@{/new-java-project}">Add Java Project</a></button>
</div>


</body>
</html>