<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Project List</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

</head>
<body>

<div>
    <h2>Java Project List</h2>

    <table th:if="${!#lists.isEmpty(javaProjects)}">
        <tr>
            <th>Name</th>
            <th>Status</th>
        </tr>
        <tr data-th-each="info : ${javaProjects}">
            <td><a href="" th:href="@{/project-detail(projectId=${info.id})}" th:text="${info.name}"></a></td>
            <td><span th:text="${info.status}" th:id="'javaProject-' + ${info.id}"></span></td>
        </tr>
    </table>

    <button><a href="" th:href="@{/new-java-project}">Add Java Project</a></button>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/

    var stompClient = null;

    // connect to the websocket
    function connect() {
        var socket = new SockJS('/project-status-websocket');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            console.log('Connected: ', frame);
            stompClient.subscribe('/topic/status-change', function (statusChange) {
                console.log('subscribe', statusChange);

                var str = statusChange.body;
                var words = str.split('=');

                $('#' + words[0]).html(words[1])
                console.log($('#' + words[0]).html());
            });
        });
    }

    // disconnect to the websocket
    function disconnect() {
        if (stompClient !== null) {
            stompClient.disconnect();
        }
        console.log('websocket disconnect');
    }

    $(function () {
        connect();

        $(window).on('beforeunload', function () {
            disconnect();
        });
    });

    /*]]>*/
</script>

</body>
</html>